.container {
    margin-right: auto;
    margin-left: auto;

    max-width: $mobile-container-width;
    @media screen and (min-width: $tablet-container-width) {
        max-width: $tablet-container-width;
    }
    @media screen and (min-width: $desktop-container-width) {
        max-width: $desktop-container-width;
    }
}
