$header-bgc: #ffb8ca;
$white: #ffffff;
$red: #d41443;
$overlay-bgc: rgba(0, 0, 0, 0.2);
$modal-bgc: #e17992;
$modal-line-bgc: #e18298;
$btn-hover-bgc: #ecebeb;
$circle-bgc: #ffa5ba;
$btn-red-hover-bgc: #c7133e;
$coffee-bgc: #f0d1a5;
$green: #c2e297;
$technology-bgc: #fff5f6;
$black: #000000;
$review-bgc: #fafafa;
$main-text-color: #907e82;
$lines-color: #e1e1e1;
$dots-bgc: #d9d9d9;

$main-letter-spacing: 0.04em;
$main-font-family: DM Sans;
$title-font-family: Titan One;

$desktop-container-width: 1050px;
$mobile-container-width: 280px;
$tablet-container-width: 700px;
$mobile-modal-width: 250px;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
